*.iml
.gradle
.idea/
.proxyai/
__MACOSX/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.apk
*.aab
*.ap_
*.hprof
ERP/ERP_testing/data/mock-db.json
